
* {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
}

body {
    margin: -10px ! important;
    padding:0;
    line-height: 1.4em;
    width: 10cm;
}

.content {
    margin: 0px;
    max-width: 8.5cm;
    max-height: 4.5cm;
    overflow: hidden;
}
h2{
    margin: 0px !important;
    font-size: 9pt !important;
    font-weight: bold;
}
h4{
    margin: 7px 0px 0px 0px;
    font-size: 9pt;
    font-weight: bold;
}
.content{
    margin: 0px;
}
.box-header {
    color: green;
    display: block;
    padding: 0px;
    position: relative;
    font-size: 10px;
}

.box-header.with-border {
    border: none !important;
}

.box-body {
    margin: 0px;
    padding: 0px;
}

.btn {
    display: none !important;
}

.col-md-12{
    margin: 0px;
    padding: 0px;
}

.callout.callout-success {
    border: none;
    font-size: 8pt;
    margin: -0.12cm 0cm;
    padding: 0cm;
    background-color: white !important;
    color: black !important;
}

.callout.callout-danger{
    border: none;
    font-size: 8pt;
    margin: -0.12cm 0cm;
    padding: 0cm;
    background-color: white !important;
    color: black !important;
    text-decoration: line-through;
}

ol, ul {
    margin: 0cm;
    padding: 0cm;
}

ul {
    margin: 0cm;
    padding: 0cm;
}


